@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}


/*modal*/

.form1 {
    margin: 2% 2%;
    opacity: 1;
    color: black;
}

.login1Form {
    padding: 30px;
    border: none;
    height: 100%;
}

.login2Form {
    border: none;
    padding: 30px;
    height: 100%;
}

.Cont {
    background: rgba(255, 255, 255, 0.75);
    border: #222;
}

.login1 {
    width: 40%;
    color: white;
}

.login2 {
    width: 40%;
    color: white;
}

.close {
    width: 20%;
    color: white;
}

.buttons {
    width: 100%;
}

.modhead {
    background: rgba(2, 62, 138, 1);
}

.login1:focus {
    border: none !important;
    background: none !important;
}

.login2:focus {
    border: none !important;
    background: none !important;
}

.NGOLog {
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}


/*modal end*/


/* form extra*/

.form-div {
    margin: 5% auto;
    border: 15px groove #017fb5;
    padding: 30px;
}

.form-div label {
    font-size: 19px;
    color: rgb(50, 130, 205);
    font-weight: 500;
    margin: 2% 0;
}

.UploadPic {
    font-size: 29px;
    color: rgb(50, 130, 205);
    font-weight: 500;
    margin: 2% 0;
}

.form-div input[type="text"],
.form-div input[type="password"],
.form-div input[type="textbox"],
input[type="file"] {
    -webkit-appearance: none !important;
    border: none;
    border-bottom: 1px solid #017fb5;
}

.form-div textarea {
    border: none;
    border-bottom: 1px solid #017fb5;
    resize: none;
    overflow: scroll;
}

input[type="file"] {
    padding-bottom: 2%;
}

.form-div textarea:focus {
    box-shadow: none;
    border-bottom-color: black;
    overflow: scroll;
}

.form-div input[type="text"]:focus,
.form-div input[type="password"]:focus,
input[type="file"]:focus,
.form-div input[type="textbox"]:focus {
    box-shadow: none;
    border-bottom-color: black;
}

.form-div input[type="submit"] {
    margin-top: 7%;
    font-size: 17px;
    font-weight: 600;
}

.form-div p {
    font-size: 14px;
}

#navEvent .container {
    display: flex;
    justify-content: center;
}


/* form extra end*/

@media (min-width: 992px) {
    body {
        margin-right: 0px;
    }
    /* Navbar */
    .navbar {
        background-color: rgba(2, 62, 138) !important;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .navbar ul li {
        margin: 0 20px;
    }
    .navbar-nav .nav-link {
        font-size: 1em !important;
        padding: 3px;
        color: #fff !important;
        font-weight: 500;
    }
    /* .navbar-nav{
    text-align: right;
    margin-right: 20px;
} */
    .navbar-toggler {
        color: #fff !important;
        outline: none !important;
        border: none !important;
    }
    .navbar-nav .nav-link:hover {
        border-bottom: 1px solid #fff;
    }
    .navbar-brand {
        font-size: 28px !important;
        color: #fff !important;
    }
    .navbar-nav {
        margin: 0 auto !important;
    }
    .navbar .navbar-brand {
        font-size: 1.8em !important;
    }
    /*navbar end*/
    /*HEADERS MEGA MENU*/
    .meagamenuheader {
        font-size: 20px;
        font-family: sans-serif;
    }
    .megamenuplaces text {
        color: rgb(41, 40, 40);
        font-weight: bold;
        font-size: 16px;
        font-family: sans-serif;
    }
    .dropdown-menu {
        width: 100%;
        height: 100vh;
        margin-left: 0px;
    }
    .menuheaderpadding1 {
        padding-left: 300px;
        padding-bottom: 70px;
    }
    .menuheaderpadding3 {
        padding-left: 470px;
    }
    .menuheaderpadding2 {
        padding-left: 350px;
    }
    .menuheaderpadding4 {
        padding-left: 400px;
    }
    /* Events */
    .SecondPart {
        padding-top: 20px;
        background-color: #F5F5F5;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 95px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .SecondPartChild {
        display: flex;
        padding-top: 40px;
        padding-left: 0px;
        border-color: #222;
    }
    .SecondPart h5 {
        font-size: 42px;
        padding-left: 680px;
    }
    .SecondPart img {
        width: 250px;
        height: 350px;
        padding-bottom: 25px;
    }
    .time {
        padding-left: 10px;
        color: #85e5e5;
        text-decoration: none;
        font-size: 16px;
    }
    /* .location {
        font-size: 16px;
        padding-left: 10px;
        color: #79c4c4;
        text-decoration: none;
    } */
    .topic {
        padding-left: 2px;
        color: black;
        font-size: 28px;
        font-family: 'Niccone';
    }
    .by {
        padding-left: 10px;
        color: rgb(77, 73, 73);
        font-size: 20px;
        font-family: 'Niccone';
    }
    .register {
        border-color: #023e8a;
        color: #f1f1f1;
        background-color: #023e8a;
        margin-left: 65px;
        width: 120px;
        height: 35px;
        margin-bottom: 20px;
    }
    .SecondPartChild a:hover {
        text-decoration: none;
    }
    .event1,
    .event2,
    .event3,
    .event4 {
        background-color: white;
        margin-left: 30px;
        margin-right: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .event1 a,
    .event2 a,
    .event3 a,
    .event4 a {
        text-decoration: none;
    }
    /*IMAGE POP UP*/
    #img01 {
        width: 500px;
        height: 600px;
        padding-top: 20px;
        padding-left: 40px;
    }
    #modal {
        z-index: 1;
        display: none;
        padding-top: 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8)
    }
    #modal-content {
        display: block;
        position: absolute;
        width: 540px;
        height: 620px;
        margin-top: 90px;
        margin-left: 500px;
        background-color: rgba(46, 44, 44, 0.9);
    }
    .modal-hover-opacity {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-backface-visibility: hidden
    }
    .modal-hover-opacity:hover {
        opacity: 0.60;
        filter: alpha(opacity=60);
        -webkit-backface-visibility: hidden
    }
    .close {
        z-index: 1;
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        text-decoration: none;
        float: right;
        font-size: 24px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /*About Tab*/
    .SecondPart h3 {
        padding-left: 40px;
        margin-bottom: -20px;
    }
    .tab {
        padding-left: 45%;
    }
    .About_Section {
        background-color: rgba(245, 241, 241, 0.671);
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .NGO_Owner_Name {
        padding-top: 10px;
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_Owner_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_ID {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_ID_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Bio {
        padding-top: 10px;
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Bio_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Goals {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Goals_Are {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Contact {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_Links {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Links_Are {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Email {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Email_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .NGO_Location {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Location_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
}


/*Mobile View*/

@media (max-width: 600px) {
    /*HEADERS MEGA MENU*/
    .dropdown-menu {
        overflow-y: scroll;
    }
    .meagamenuheader {
        font-size: 20px;
    }
    .megamenuplaces text {
        color: rgb(41, 40, 40);
        font-weight: bold;
        font-size: 16px;
    }
    /* Events */
    .SecondPart {
        padding-top: 0px;
        background-color: #F5F5F5;
        padding-bottom: 0px;
        padding-left: -60px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .SecondPartChild {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 60px;
    }
    .SecondPart h5 {
        font-size: 42px;
        padding-left: 680px;
    }
    .SecondPart img {
        width: 200px;
        height: 300px;
        margin-bottom: 35px;
    }
    .time {
        position: absolute;
        padding-left: 220px;
        margin-top: -320px;
        color: #85e5e5;
        text-decoration: none;
    }
    /* .location {
        position: absolute;
        padding-left: 220px;
        margin-top: -285px;
        color: #85e5e5;
        text-decoration: none;
    } */
    .topic {
        position: absolute;
        padding-left: 220px;
        margin-top: -220px;
        color: black;
        font-size: 20px;
        font-family: 'Niccone';
    }
    .by {
        position: absolute;
        padding-left: 220px;
        margin-top: -150px;
        color: rgb(77, 73, 73);
        font-size: 20px;
        font-family: 'Niccone';
    }
    .register {
        position: absolute;
        margin-left: 145px;
        margin-top: -90px;
        border-color: #023e8a;
        color: #f1f1f1;
        background-color: #023e8a;
        width: 120px;
        height: 30px;
    }
    /* .events p {
        margin-left: 170px;
    }
    .events button {
        margin-top: -80px;
        margin-left: 226px;
    } */
    .SecondPartChild a:hover {
        text-decoration: none;
    }
    .event1,
    .event2,
    .event3,
    .event4 {
        background-color: white;
        padding-right: 245px;
        padding-top: 1px;
        margin-left: -25px;
        margin-right: 2px;
        padding-bottom: -23px;
    }
    /*IMAGE POP UP*/
    #img01 {
        width: 420px;
        height: 520px;
        padding-top: 20px;
        padding-left: 20px;
    }
    #modal {
        z-index: 1;
        display: none;
        padding-top: 10px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8)
    }
    #modal-content {
        display: block;
        position: absolute;
        width: 440px;
        height: 540px;
        margin-top: 50px;
        margin-left: 25px;
        background-color: rgba(46, 44, 44, 0.9);
    }
    .modal-hover-opacity {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-backface-visibility: hidden
    }
    .modal-hover-opacity:hover {
        opacity: 0.60;
        filter: alpha(opacity=60);
        -webkit-backface-visibility: hidden
    }
    .close {
        z-index: 1;
        position: absolute;
        margin-top: 53px;
        margin-left: 445px;
        text-decoration: none;
        float: right;
        font-size: 24px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /*About Tab*/
    .SecondPart h3 {
        padding-left: 40px;
        margin-bottom: -20px;
        padding-top: 10px;
    }
    .tab {
        padding-left: 30%;
    }
    .About_Section {
        background-color: rgba(245, 241, 241, 0.671);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .NGO_Owner_Name {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_Owner_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_ID {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_ID_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Bio {
        padding-top: 10px;
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Bio_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Goals {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Goals_Are {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Contact {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #NGO_Links {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Links_Are {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    #NGO_Email {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Email_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .NGO_Location {
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .NGO_Location_IS {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
}


/*footer*/

footer {
    padding: 10px 0;
    background-color: rgba(2, 62, 138);
    color: #fff;
    font-family: 'Poppins';
}

footer h5::after {
    content: "";
    width: 25%;
    height: 1px;
    display: block;
    background-color: red;
}

.about-us a {
    margin-bottom: 30px;
}

.about-us p {
    font-size: 0.85em;
}

.loc-ema-pho {
    margin: 20px;
}

.loc-ema-pho i {
    font-size: 1.2em;
    margin-right: 10px;
}

.contact-us {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    font-size: 0.9em;
    background-color: #03045e;
    border: 0;
    color: #fff;
    resize: none;
    width: 90%;
    padding: 3px;
    margin: 15px 0;
    border-radius: 10px;
}

.contact-form-submit {
    color: #000 !important;
    background-color: #caf0f8 !important;
}

.contact-form-submit:hover {
    color: #fff !important;
    background-color: rgba(2, 62, 138) !important;
    border: 1px solid #caf0f8;
}


/*footer end*/


/****tabs**/

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.event1,
.event2,
.event3,
.event4 {
    border: 1px solid rgb(201, 201, 201);
}


/* NGO Profile */

.ngo-profile {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}


/* prfile pic */

.ngo-profile-image img {
    width: 100px;
    height: 100px;
    margin: 0 50px;
    border: 0px;
    border-radius: 50%;
}


/* profile pic end */


/* profile name */

#ngo_profile_name {
    margin-bottom: 20px;
}


/* profile name end */


/* create event */

.create-event-body input {
    display: block;
    padding: 5px;
}

.create-event-body label {
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 20px;
}

.create-event-body input[type="text"] {
    width: 100%;
}

.create-event-body input[type="submit"] {
    margin: 10px 0;
    padding: 5px 10px;
}


/* create event end */


/* NGO Profile end */