    * {
        margin: 0px;
        padding: 0px;
    }
    
    .fig img {
        height: 200px;
        width: 200px;
        display: inline-block;
        transition: all 0.5s linear;
        border: 0px solid black;
        border-radius: 10px;
    }
    
    .fig figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s linear;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
    }
    
    .fig figcaption h1 {
        font-size: 25px;
    }
    
    .fig figcaption p {
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .fig {
        float: left;
        margin-left: 2%;
        overflow: hidden;
        position: relative;
        border: 0px solid black;
        border-radius: 10px;
    }
    
    .fig:hover img {
        transform: scale(1.3);
        border: 0px solid black;
        border-radius: 10px;
    }
    
    .fig:hover figcaption {
        opacity: 1;
        background: rgba(0, 0, 0, 0.7);
        border: 2px solid black;
        border-radius: 10px;
    }
    
    li {
        list-style-type: none;
    }
    
    ul {
        align-items: center;
        margin-left: 17%;
        margin-top: 3%;
    }
    
    .centerList {
        margin-left: 27%;
    }
    
    .titleFigure {
        width: 100%;
        height: 300px;
        position: relative;
    }
    
    .titleFigure img {
        width: 100%;
        height: 100%;
        padding: 0px;
        display: inline-block;
    }
    
    .titleFigure figcaption {
        position: absolute;
        top: 0;
        margin-top: 8%;
        left: 0;
        width: 100%;
        height: 30%;
        color: #030027;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins';
        background: rgba(255, 255, 255, 0.25);
        font-weight: 2000;
    }
    
    .Goals {
        text-align: center;
        color: rgb(50, 130, 205);
        margin-top: 3%;
        font-size: 35px;
        font-family: 'Poppins';
    }
    
    .line {
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 40px;
        height: 2px;
        color: yellow;
    }
    
    .FormTitle {
        text-align: center;
        color: rgb(50, 130, 205);
        margin-top: 55px;
        font-size: 35px;
        font-family: 'Poppins';
    }
    
    .Achieve {
        font-size: 25px;
        margin-left: 120px;
    }
    
    .form-div {
        margin: 5% auto;
        border: 15px groove #017fb5;
        padding: 30px;
    }
    
    .form-div label {
        font-size: 19px;
        color: rgb(50, 130, 205);
        font-weight: 500;
        margin: 2% 0;
    }
    
    .UploadPic {
        font-size: 29px;
        color: rgb(50, 130, 205);
        font-weight: 500;
        margin: 2% 0;
    }
    
    .form-div input[type="text"],
    .form-div input[type="password"],
    .form-div input[type="textbox"],
    input[type="file"] {
        -webkit-appearance: none !important;
        border: none;
        border-bottom: 1px solid #017fb5;
    }
    
    .form-div textarea {
        border: none;
        border-bottom: 1px solid #017fb5;
        resize: none;
        overflow: scroll;
    }
    
    input[type="file"] {
        padding-bottom: 2%;
    }
    
    .form-div textarea:focus {
        box-shadow: none;
        border-bottom-color: black;
        overflow: scroll;
    }
    
    .form-div input[type="text"]:focus,
    .form-div input[type="password"]:focus,
    input[type="file"]:focus,
    .form-div input[type="textbox"]:focus {
        box-shadow: none;
        border-bottom-color: black;
    }
    
    .form-div input[type="submit"] {
        margin-top: 7%;
        font-size: 17px;
        font-weight: 600;
    }
    
    .form-div p {
        font-size: 14px;
    }
    
    .GoalsCheck {
        font-size: 19px;
        color: rgb(50, 130, 205);
        font-weight: 500;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    
    .Benefits {
        text-align: center;
        color: rgb(50, 130, 205);
        margin-top: 55px;
        font-size: 35px;
        font-family: 'Poppins';
    }
    
    .BenefitsList {
        list-style-type: circle;
        margin-left: 120px;
        list-style-position: inside;
    }
    
    .bl {
        list-style-type: circle;
        list-style-position: inside;
        font-family: 'Poppins';
        font-size: 20px;
    }
    /* Navbar */
    
    .navbar {
        background-color: rgba(2, 62, 138) !important;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    .navbar ul li {
        margin: 0 20px;
    }
    
    .navbar-nav .nav-link {
        font-size: 1em !important;
        padding: 3px;
        color: #fff !important;
        font-weight: 500;
    }
    /* .navbar-nav{
    text-align: right;
    margin-right: 20px;
} */
    
    .navbar-toggler {
        color: #fff !important;
        outline: none !important;
        border: none !important;
    }
    
    .navbar-nav .nav-link:hover {
        border-bottom: 1px solid #fff;
    }
    
    .navbar-brand {
        font-size: 28px !important;
        color: #fff !important;
    }
    
    .navbar-nav {
        margin: 0 auto !important;
    }
    
    .navbar .navbar-brand {
        font-size: 1.5em !important;
    }
    /*navbar end*/
    /*modal*/
    
    .form1 {
        margin: 2% 2%;
        opacity: 1;
        color: black;
    }
    
    .login1Form {
        padding: 30px;
        border: none;
        height: 100%;
    }
    
    .login2Form {
        border: none;
        padding: 30px;
        height: 100%;
    }
    
    .Cont {
        background: rgba(255, 255, 255, 0.75);
        border: #222;
    }
    
    .login1 {
        width: 40%;
        color: white;
    }
    
    .login2 {
        width: 40%;
        color: white;
    }
    
    .close {
        width: 20%;
        color: white;
    }
    
    .buttons {
        width: 100%;
    }
    
    .modhead {
        background: rgba(2, 62, 138, 1);
    }
    
    .login1:focus {
        border: none !important;
        background: none !important;
    }
    
    .login2:focus {
        border: none !important;
        background: none !important;
    }
    
    .NGOLog {
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
    }
    /*modal end*/
    /*footer*/
    
    footer {
        padding: 10px 0;
        background-color: rgba(2, 62, 138);
        color: #fff;
        font-family: 'Poppins';
    }
    
    footer h5::after {
        content: "";
        width: 25%;
        height: 1px;
        display: block;
        background-color: red;
    }
    
    .about-us a {
        margin-bottom: 30px;
    }
    
    .about-us p {
        font-size: 0.85em;
    }
    
    .loc-ema-pho {
        margin: 20px;
    }
    
    .loc-ema-pho i {
        font-size: 1.2em;
        margin-right: 10px;
    }
    
    .contact-us {
        margin-bottom: 10px;
    }
    
    .contact-form input,
    .contact-form textarea {
        display: block;
        font-size: 0.9em;
        background-color: #03045e;
        border: 0;
        color: #fff;
        resize: none;
        width: 90%;
        padding: 3px;
        margin: 15px 0;
        border-radius: 10px;
    }
    
    .contact-form-submit {
        color: #000 !important;
        background-color: #caf0f8 !important;
    }
    
    .contact-form-submit:hover {
        color: #fff !important;
        background-color: rgba(2, 62, 138) !important;
        border: 1px solid #caf0f8;
    }
    /*footer end*/
    
    @media (min-width: 992px) {
        /*HEADERS MEGA MENU*/
        .ngomegamenu {
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
        .ngomegamenu:hover {
            color: white;
            text-decoration: none;
        }
        .meagamenuheader {
            font-size: 20px;
        }
        .megamenuplaces text {
            color: rgb(41, 40, 40);
            font-weight: bold;
            font-size: 16px;
        }
    }
    
    @media (max-width: 600px) {
        /*HEADERS MEGA MENU*/
        .ngomegamenu {
            padding-left: 90%;
            color: white;
            text-decoration: none;
        }
        .ngomegamenu:hover {
            color: white;
            text-decoration: none;
        }
        .meagamenuheader {
            font-size: 20px;
        }
        .megamenuplaces text {
            color: rgb(41, 40, 40);
            font-weight: bold;
            font-size: 16px;
        }
    }